:root {

  --primary: #373737;
  --secondary: #eeeae6;
  --black: #000000;

  --highlight1: #000000;
  --highlight2: #353535;
  --highlight3: #aca7a3;

  --main-font: "Caveat", sans-serif;
  --fancy-font: "Lavishly Yours", sans-serif;

  font-family: var(--main-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}